[tool.black]
line-length = 100
target-version = ['py312']
include = '\.pyi?$'
extend-exclude = '''
(
    migrations
    | \.venv
    | venv
)
'''

[tool.isort]
profile = "black"
line_length = 100
skip = [".git", ".venv", "venv", "migrations", "__pycache__"]
skip_glob = ["*/migrations/*"]

[tool.coverage.run]
source = ["core"]
omit = ["*/migrations/*", "*/tests/*"]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "raise AssertionError",
    "raise NotImplementedError",
]
